model-viewer {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}

div.HotspotAnnotation{    font-family: 'Chakra Petch', sans-serif;font-size: 2rem;}

body {  background: linear-gradient(to bottom, yellow, black 70%);
}
button.hotspot{background: yellow;border:1px dashed}